body {
	text-align: center;
	font-family: sans-serif;
	user-select: none;
	margin: 0;
	overflow-x: hidden;
}

#numbers {
	font-size: 40px;
}

#output {
	background-color: black;
	padding: 2px;
	color: white;
	width: 100%;
	height: 80px;
	font-size: 24px;
	margin: 0;
}

#hp {
	color: red;
}

.button {
	width: 45%;
	margin: 1px;
	display: inline-block;
	height: 120px;
	line-height: 120px;
	font-size: 30px;
	margin: auto;
	margin-top: 6px;
	padding: 4px;
	background-color: lightgrey;
}

#damage {
	margin-top: 10px;
	height: 80px;
	vertical-align: middle;
}

.poke, #reset, #switch {
	height: 120px;
	line-height: 160px;
	font-size: 24px;
	border: 2px solid black;
	margin: 1%;
	display: inline-block;
}

.poke {
	width: 16%;
}

#reset, #switch {
	width: 30%;
}

.active {
	background-color: lightblue;
}