body {
	text-align: center;
	font-family: sans-serif;
	user-select: none;
	margin: 0;
}

.log {
	width: 250px;
	margin: auto;
	margin-top: 4px;
	padding: 4px;
	background-color: paleblue;
	font-size: 60px;
}

#challenge {
	background-color: black;
	color: white;
	width: 100%;
	overflow-x: hidden;
	height: 120px;
	font-size: 48px;
	margin: 0;
}

#hp {
	color: red;
}

.button {
	width: 90%;
	height: 160px;
	line-height: 160px;
	font-size: 40px;
	margin: auto;
	margin-top: 10px;
	padding: 4px;
	border: 2px solid black;
}

.button:hover {
	background-color: lightgrey;
	cursor: pointer;
}