body {
	text-align: center;
	font-family: sans-serif;
	user-select: none;
	margin: 0;
}

.log {
	width: 250px;
	margin: auto;
	margin-top: 4px;
	padding: 4px;
	background-color: paleblue;
	font-size: 60px;
}

#output {
	background-color: black;
	color: white;
	width: 100%;
	overflow-x: hidden;
	height: 120px;
	font-size: 48px;
	margin: 0;
}

#hp {
	color: red;
}

#coin {
	width: 200px;
	height: 200px;
	line-height: 200px;
	font-size: 30px;
	border: 4px solid black;
	border-radius: 50%;
	margin: auto;
	margin-top: 40px;
}

.button {
	width: 90%;
	height: 200px;
	line-height: 200px;
	font-size: 40px;
	margin: auto;
	margin-top: 10px;
	padding: 4px;
	border: 2px solid black;
}

#damage {
	margin-top: 10px;
	height: 80px;
	vertical-align: middle;
}

.poke, #reset {
	height: 80px;
	line-height: 80px;
	font-size: 40px;
	border: 2px solid black;
	margin-left: 12px;
	margin-right: 12px;
	display: inline-block;
}

.poke {
	width: 80px;
}

#reset {
	width: 120px;
}

.active {
	background-color: lightblue;
}